<apex:page standardController="Account" recordSetVar="accounts">
    <apex:pageBlock >
    <apex:repeat value="{!accounts}" var="a">
        <li>
            <apex:outputLink value="/{!a.ID}">
                <apex:outputText value="{!a.name}"/>
            </apex:outputLink>
        </li>
        </apex:repeat>       
    </apex:pageBlock>
</apex:page>