<apex:page standardcontroller="Account" recordsetvar="Account">
    <apex:pageblock >
      <apex:pageBlockTable value="{!account}" var="a">
        <apex:column value="{!a.name}" />
         <apex:column value="{!a.accountnumber}" />
       
        </apex:pageBlockTable>
    </apex:pageblock>
</apex:page>